*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pretendard';
  font-weight: 400;
}

ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button, input, select, textarea {
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
}
button {
  cursor: pointer;
}

/* header */
#header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  border-bottom: 1px solid #eaeaea;
}
.header-inner {
  width: 100%;
  max-width: 1760px;
  display: flex;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 70px;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 36px;
  font-weight: 500;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* main visual */
.main-visual {
  display: flex;
  justify-content: center;
}